body {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Don't set padding here; set it below in @media */
.body-content {
}


#backgroundImage {
    height: 180px;
    margin-right: 10px;
    background-image: url(Images/2015/mountainsPurple2.png);
    background-position: bottom left;
    background-repeat: repeat-x;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

a {
    color: #7664AC;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}


/* Dan C added custom*/
.navbar {
    margin-top: 10px;
    margin-right: 10px;
    background-color: white;
}

.navbar-header {
    margin-bottom: -20px;
    height: 75px;
}

.nav-pills > li {
    padding-right: 4px;
    padding-left: 4px;
}

.nav-pills {
    font-weight: bold;
    font-size: large;
    margin-top: 8px;
    margin-bottom: 16px;
    background-color: white;
}

.nav-pills {
    height: 45px;
}

    /*.nav-pills > li > a {
        background-color: white;
        color: #47857D;
        font-size: 18px;
    }*/

    .nav-pills > li.active > a {
        background-color: #254856;
        color: white;
    }

    .nav-pills > li > a:hover {
        background-color: #47857D;
        color: white;
    }

    .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        background-color: white;
        color: #254856;
    }

.masthead {
    /*background-color: palegoldenrod;*/
    /*border-color: #357ebd;
    padding: 8px 8px 8px 8px;*/
    /*background-image:url(../../Content/Images/2015/mountains2.png);
    background-repeat:no-repeat;*/
}

.indexThumbnail {
    height: 100px;
    padding: 4px 4px 4px 4px;
}


.footer {
    /*background-color: #7664AC;*/
    padding: 8px 8px 8px 8px;
    border-top: dotted;
    margin: 0px -15px 0px -15px;
}

h1, h2, h3 {
    color: #7664AC;
}

/*.myLogo {
    all: initial!important;
    width: 100%!important;
    height: auto!important;
}*/

.masthead1 {
    color: #B9A874;
    font-family: Sans-Serif;
    /*font-size: xx-large;*/
    text-wrap: avoid;
    font-weight: bold;
    font-size: 20px; /* 1.75vw; */
}

.masthead2 {
    color: #47857D;
    font-family: Sans-Serif;
    /*font-size: large;*/
    text-wrap: avoid;
    font-weight: bold;
    font-size: 1.25vw;
}

.bigHead {
    font-size: 28px;
    font-weight: bolder;
    text-align: left;
}


/* really big desktop */
@media (min-width:1800px) {
    .bigHead {
        font-size: 28px;
    }

    .masthead1 {
        font-size: 24px; /* 1.5vw; */
    }

    .masthead2 {
        font-size: 20px; /* 0.75vw; */
    }
}

/* really big desktop */
@media (min-width:1600px and (max-width: 1799) ) {
    .bigHead {
        font-size: 26px;
    }

    .masthead1 {
        font-size: 22px; /* 1.25vw; */
    }

    .masthead2 {
        font-size: 18px; /* 1.0vw; */
        font-size: 1.0vw;
    }
}

/* Large desktop */
@media (min-width: 1100px) and (max-width: 1599px) {
    p, .btn, input, div, span, h4 {
        font-size: 95%;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    .mediaInfo {
        font-size: 1.25vw;
    }

    .lead {
        font-size: 17px;
    }

    .alink {
        font-size: 20px;
    }

    #gallery {
        width: 650px;
        height: 525px;
    }

    body {
        padding-left: 100px;
        padding-right: 100px;
    }

    .nav-pills {
    height: 40px;
}

    .nav-pills > li > a {
        background-color: white;
        color: #47857D;
        font-size: 18px;
    }

    .bigHead {
        font-size: 24px;
    }

    .masthead1 {
        font-size: 20px; /* 1.5vw; */
    }

    .masthead2 {
        font-size: 16px; /* 0.75vw; */
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1099px) {
    .mediaInfo {
        font-size: 1.0vw;
    }

    .lead {
        font-size: 15px;
    }

    .alink {
        font-size: 18px;
    }

    #gallery {
        width: 500px;
        height: 400px;
    }

    body {
        padding-left: 25px;
        padding-right: 25px;
    }

    .nav-pills {
    height: 35px;
}

    .nav-pills > li > a {
        background-color: white;
        color: #47857D;
        font-size: 16px;
    }

    .bigHead {
        font-size: 20px;
    }

    .masthead1 {
        font-size: 16px; /* 2.5vw; */
    }

    .masthead2 {
        font-size: 12px; /* 1.5vw; */
        font-size: 1.5vw;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    p, .btn, input, div, span, h4 {
        font-size: 90%;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    .mediaInfo {
        font-size: 0.75vw;
    }

    .lead {
        font-size: 14px;
    }

    .alink {
        font-size: 16px;
    }

    #gallery {
        width: 400px;
        height: 250px;
    }

    body {
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav-pills {
    height: 30px;
}

    .nav-pills > li > a {
        background-color: white;
        color: #47857D;
        font-size: 14px;
    }

    .bigHead {
        font-size: 18px;
    }

    .masthead1 {
        font-size: 14px; /* 2.5vw; */
    }

    .masthead2 {
        font-size: 10px; /* 2.0vw; */
        font-size: 2.0vw;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .mediaInfo {
        font-size: 0.5vw;
    }

    .lead {
        font-size: 12px;
    }

    .alink {
        font-size: 14px;
    }

    #gallery {
        width: 350px;
        height: 250px;
    }

    body {
        padding-left: 4px;
        padding-right: 4px;
    }

    .nav-pills {
    height: 25px;
}

    .nav-pills > li > a {
        background-color: white;
        color: #47857D;
        font-size: 12px;
    }

    .bigHead {
        font-size: 16px;
    }

    .masthead1 {
        font-size: 12px; /* 3.5; */
    }

    .masthead2 {
        font-size: 10px; /* 3.0vw; */
        font-size: 3.0vw;
    }
}

.active {
    /*text-decoration:underline;*/
}

/*.altbg {
    background-color:lightgray;
}*/


.myBtn {
    text-align: left;
    width: 80%;
    margin-top: 8px;
}

.stopNumber {
    margin-bottom: 12px;
    padding: 8px 8px 8px 8px;
    border: 1px solid lightgrey;
    /*font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}

.container {
    /* don't put a width on container! It ruins the bootstrap responsive design. */
    /*width: 1140px;
    align-content:center;*/
}

/* Bootstrap buttons */
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #7664AC;
    color: white;
}

    .btn:hover {
        color: #7664AC;
        background-color: white;
    }

.caret {
    border-top: 4px solid red;
}

/*.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #47857D;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #7664AC;
    box-shadow: none;
    }*/



/* responsive text queries */
/*@media screen and (max-width: 992px) {
    p, .btn, input, div, span, h4 {
        font-size: 95%;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }
}*/

/*@media screen and (max-width: 768px) {
    p, .btn, input, div, span, h4 {
        font-size: 90%;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }
}*/
