@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-8">
        <div class="img-rounded text-center" style="font-size:2vw;background-color:#7664AC; color:white; font-weight:bolder; text-align:left;">
            &nbsp;Over the Mountain Summer Preview Show
        </div>
        <h1>All Members Under One Roof!</h1>
        <h3>Second Weekend of July in Historic Downtown Shepherdstown</h3>
        <div class="lead">
            Dates for 2016: July 8-10!
            <br /><br />
            Celebrate summer and handmade during the Over the Mountain Studio Tour’s annual Summer Preview Show in downtown Shepherdstown’s
            <a href="https://www.google.com/maps/place/War+Memorial+Building/39.430726,-77.805691,17z/data=!3m1!4b1!4m2!3m1!1s0x89c9fb91d620d679:0xe334a8e04c572065" target="_blank">
                War Memorial Building
            </a>, where you can meet the year’s newest juried members, experience the freshest work from all members,
            and get a sneak-peak of what’s to come for the November Studio Tour.  Join us for our Friday night reception, or wander in
            throughout the weekend… we look forward to seeing you!            
        </div>
    </div>
    <div class="col-lg-4">
        <img src="~/Content/2015/SummerPreview.png" alt="Over the Mountain Studio Tour Summer Show" class="img-responsive" />
    </div>
</div>
<br /><br />
